{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <H1>PROFIL</H1>
</center>

Nama saya adalah Ana Amalia Muzni, biasa dipanggil Ana. Saya adalah anak pertama dari 4 bersaudara. Tempat tinggal saya di Kota Cilegon sesuai dengan tempat kelahiran saya 19 tahun yang lalu. Ya, tepat sekali saya lahir di tahun 2002 pada bulan November tanggal 18 dan dapat terhitung saya sekarang berusia 19 tahun (menuju 20:v).
Sesuai dengan umur yang beranjak dewasa, sekarang saya sedang menempuh pendidikan di Universitas Sultan Ageng Tirtayasa Jurusan Pendidikan Matematika, untuk lokasi perkuliahan saat ini adalah di Kampus C Ciwaru, FKIP Untirta.
Sedikit bercerita mengenai jurusan Pendidikan Matematika, jujur ketika Sekolah Menengah Pertama saya sangat menyukai Matematika hingga akhirnya saya memustuskan untuk masuk ke Jurusan Pendidikan Matematika ini, namun ternyata setelah saya menjalani hampir 3 semester saya hanya bisa berharap "SEMOGA KUAT SAMPAI TAMAT:)".
Bantu Doakan yaaa Teman-Teman Semuaaaa. Love You All <3

{% endblock %}